#cards-resp{
    display: none;
}
@media (min-width: 1920px) {
    h1{
        font-size: 58px;
        font-weight: bold;
    }
    h2{
        font-size: 46px;
        font-weight: bold;
    }
    h3{
        font-size: 38px;
    }
    p,a{
        font-size: 30px;
    }
}

@media (max-width: 1180px) {
    #center-1{
        flex-direction: column;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    #center-1 article{
        text-align: center;
        width: 100%;
    }
    #center-1 .form{
        width: 100%;
        margin: 0;
        padding-left: 0px;
    }
    #center-1 form{
        width: 100% !important;
        height: 300px;
    }
    #metaverso{
        height: auto;
    }
    #google{
        margin-left: auto;
        margin-right: auto;
    }
    #second,#third,#fifth{
        background-size: 0;
    }
    #cards {
        display: none;
    }
    #cards-resp{
        display: block;
    }
    #first{
        flex-direction: column;
        background-color: transparent;
        text-align: center;
        height: 900px;
        margin-top: 0;
        padding: 0 !important;
        background-image: none;
    }
    #first .form{
        margin: auto;
        width: 100%;
        border-radius: 0;
        height: 300px;
        margin-top: 5%;
    }
    #first article{
        margin: 0 0 0 0 !important;
        padding-top: 30px;
        padding-bottom: 30px;
        width:100% !important;
        background-image: url("../assets/Recursos/video.gif");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #sec2{
        flex-direction: column !important; 
    }
    .logo{
        margin: auto;
        width: 100px;
    }
    article h1, article h2{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .ft-logo{
        margin-top: 32px;
    }
    .ft-text{
        margin-top: 30px !important;
        flex-direction: column !important;
    }
    .form input[type="submit"], .form .google{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (max-width: 850px) {
    #center-1 article{
        height: 350px;
    }
    .ft-logo img{
        width: 250px!important;
        margin-top: 20px;
    }
 
    #second{
        padding-left: 5%;
        padding-right: 5%;
    }
    .flex-l{
        flex-direction: column;
    }
    .bottom{
        width: 100%;
    }
    #contact{
        flex-direction: column;
    }
    footer{
        grid-template-columns: 40% 60%;
    }
    .social, .social div{
        display: flex;
        flex-direction: row;
        margin-top: 10px !important;
        margin-left: 15px
    }
}

@media (max-width: 700px) {
    .lanz img, .lanz{
        width: 300px;
    }
    .ft-logo img{
        width: 200px!important;
        margin-top: 30px;
    }
    .card-opinion{
        width: 300px;
    }
    article h1{
        font-size: 60px !important;
    }
    article h2{
        font-size: 40px !important;
    }
    h1{
        font-size: 40px !important;
    }
    h2{
        font-size: 30px !important;
    }
    h3{
        font-size: 26px !important;
    }
    p{
        font-size: 16px !important;
    }
    #first{
        height: 700px;
    }
    .uni-logo img{
        width: 93px;
        height: 93px;
    }
    .uni-logo{
        width: 100px;
        height: 100px;
    }
    #first article{
        margin-bottom: 20px;
        margin-top: 100px;
    }
    #center-1 article{
        height: 430px;
    }
    .ft-logo{
        width: 200px;
    }  
}  

@media (max-width: 500px) {
    .arrow{
        width: 30px;
    }
    .ft-logo img{
        width: 200px!important;
    }
    .uni-logo img{
        width: 65px;
        height: 65px;
    }
    .uni-logo{
        width: 70px;
        height: 70px;
    }
    .card-opinion{
        width: 230px;
    }
    .card-opinion p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .ft-logo{
        width: 150px;
    }
    #first article{
        padding-bottom: 50px !important;
    }
    #center-1 article{
        height: 500px;
    }
   
}

@media (max-width: 420px) {
    .lanz img, .lanz{
        width: 200px;
    }
    .arrow{
        width: 20px;
        margin-right: 3px;
        margin-left: 3px;
    }
    footer{
        flex-direction: column;
        height: 400px;
    }
    .ft-logo img{
        width: 150px!important;
    }
    .ft-logo{
        margin-left: auto;
        margin-right: auto;
    }
    #first .form{
        height: 200px;
    }
    #first article{ 
        height: 200px;
        padding-top: 10px;
    }
    #center-1 article{ 
        height: 6%;
        margin-bottom: 20px;
    }
    article h1{
        font-size: 40px !important;
    }
    article h2{
        font-size: 30px !important;
    }
    h1{
        font-size: 30px !important;
    }
    h2{
        font-size: 20px !important;
    }
    p{
        font-size: 14px !important;
    }
    .uni-logo img{
        width: 50px;
        height: 50px;

    }
    .uni-logo{        
        width: 51px;
        height: 51px;
    }
}