@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/space-grotesk');

$font1: 'Poppins';
$font2: 'Space Grotesk', sans-serif;
$cairaWhite: #f2f2f2;
$cairaPurple: rgb(37, 40, 89);
$cairaPink: rgb(251, 149, 243);
$gradient: linear-gradient(to left, rgb(37, 40, 89), rgb(251, 149, 243));
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

*{
    box-sizing: border-box;
    &:focus,&:visited{
        outline: none;
        color: $cairaPurple;
    }
}
body{
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: $cairaWhite;
    color: $cairaPurple;
}    

// Elementos texto

h1,h2,h3{
    font-family: $font2;
}
p,a,label,input{
    font-family: $font1;
}
h1{
    font-size: 52px;
    font-weight: bold;
}
h2{
    font-size: 42px;
    font-weight: bold;
}
h3{
    font-size: 34px;
}


.center-title{
    h1,h2,h3,p{
        text-align: center;
    }
}
button{
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition: width 0.2s linear 0.2s,height 0.2s linear 0.2s,font-size 0.2s linear 0.2s;
    &.pink{
        border: 2px solid $cairaPink;
        color: $cairaPink
    }
    &.purple{
        border: 2px solid $cairaPurple;
        color: $cairaPurple;
    }
    &:hover{
        cursor: pointer;
        color: $cairaWhite !important;
        //font-weight: bold;
        background: -webkit-gradient(linear, right top, left top, from($cairaPurple), to($cairaPink));
        background: linear-gradient(to right, $cairaPurple, $cairaPink);
        border: 2px solid $cairaWhite;
    }
    a{
        text-decoration: none;
        color: $cairaPurple;
    }
}

//Contenedores

section{
    padding: 5%;
}

.flex{
    display: flex;
    justify-content: center;
}
.flex-l,.flex-lc{
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    height: auto;  
}

.pages{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    p{
        margin-top: 32px;
        margin-right: 20px;
        font-size: 30px;
        a{
            text-decoration: none;
            &:focus {
                color: $cairaPink;
            }
        }
    }
}

.header{
    height: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.5);
    #languages{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: end;
    }
    .links{
        display: flex;
        &:focus {
            color: $cairaPink;
        }
    }
}

.form{
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    width: 35%;
    background-color: rgba(242,242,242,0.5);
    height: 540px;
    border-radius: 40px;
    .f-arrow{
        width: 20px;
        margin-left: 20px;
        img{
            width: 20px; 
        }
    }
    h3{
        text-align: center;
        }
        #a-form1, #a-form2{
        color: $cairaPurple;
        text-decoration: none;
        margin-left: 2%;
    }
    .lg{
        width: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .google{
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 2%;
        height: 40px;
        font-size: 20px;
        padding: 5px;
        display: flex;
        justify-content: center;
        text-align: center;
        border: none;
        a{
            text-decoration: none;
            color: $cairaPurple;
            display: flex;
            margin-left: 2%;
        }
    }
    input{
        margin-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
        &[type='submit']{
            background-color: $cairaPink;
            color: $cairaPurple;
            border-radius: 20px;
            width: 100%;
            height: 40px;
            margin-left: 2%;
            margin-right: auto;
            font-size: 20px;
            border: none;
            &:hover{
                cursor: pointer;
                background: -webkit-gradient(linear, right top, left top, from($cairaPurple), to($cairaPink));
                background: linear-gradient(to left, $cairaPurple, $cairaPink);
                color: $cairaWhite
            }
        }
        &[type="text"],&[type="password"],&[type="email"]{
            width: 100%;
            background-color: $cairaWhite;
            border-radius: 30px;
            border: 2px solid $cairaPink;
            color: $cairaPurple;
            padding: 10px;
        }
        &:focus{
            border: 4px solid $cairaPink;
            outline-width: 0;
            outline: none;
        }
    }
}

#first{
    height: 680px;
    bottom: 0;
    justify-content: left !important;
    article{
        width: 65%;
        margin-top: 100px;
        h1,h2,p{
            margin-top: 10px;
            margin-bottom: 10px;
            color: $cairaWhite;
        }
        h1{
            font-size: 100px;
        }
        h2{
            font-size: 75px;
        }
        p{
            font-size: 30px;
        }
    }
}

#second{
    padding-left: 25%;
    padding-right: 25%;
    top: 0;
}

.info-card, .info-card-2{
    height: 400px;
    width: 300px;
    display:flex; 
    border-radius: 40px;
    flex-direction:column;
    background-color: white;
    box-shadow: $shadow;
    margin: 40px;
    padding: 10px;
    p{
        img{
            width: 200px;
            height: 200px;
        }
        font-size: 20px; 
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
    }
    h3{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.info-card-2{
    p{
        img{
            width: 170px;
            height: 170px;
        }
    }
    height: 490px !important;
    p{
        margin-top: 20px; 
        margin-bottom: 20px; 
    }
}

.carrusel{
    width: 650px;
}

.arrow, .arrow2, .arrow3{ 
   height: 40px;
   width: 40px;
   text-align: center;
   margin-top: 190px;
}
.arrow{
    margin-top: 130px;
 }

.card-opinion{
    width: 500px;
    height: 300px;
    margin: auto;
    display: flex; 
    flex-direction:column;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 40px;
    p{
        margin: auto;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
        img{
            width: 100px;
            border-radius: 100%;
        }
    }
    .stars{
        font-size: 30px;
        margin-bottom: 30px;
    }  
}

footer{
    margin: 0;
    bottom: 0;
    color: $cairaWhite;
    background-image: $gradient;
    height: 220px;
    display: flex;
    .ft-logo{
        margin-top: 0;
        padding: 0;
        img{
            width: 300px;
        }
    }
    .ft-text{
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        div{
            margin-left: 50px;
        }
        .legal{
            p{
                margin-right: 20px;
                a{
                    text-decoration: none;
                    color: $cairaWhite;
                }
            }
        }
    }
}

#map-ed{
    margin: auto;
    padding: auto;
    width: 100%;
}

.slider {
	margin: auto;
    display: flex;
    justify-content: center;
    height: 100px;
}
.uni-logo{
    border-radius: 100%;
    background: $gradient;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    img, a{
        margin: auto;
        border-radius: 100%;
        width: 143px;
        height: 143px;
    }
}
.lanz{
    width: 400px;
    margin: auto;
    img{
        width: 400px;
        margin: auto;
        margin-bottom: 40px;
    }
}

#contact-form{
    input{
        &[type="text"],&[type="email"]{
            width: 90%;
            border-radius: 30px;
            margin-bottom: 10px;
            border: none;
            height: 40px;
            padding: 20px;
        }
    }
    textarea{
        height: 200px;
        width: 90%;
        border-radius: 30px;
        margin-bottom: 10px;
        border: none;
        padding: 20px;
        font-family: $font1;
    }
}
.bottom{
    width: 45%;
    margin-bottom: 20px;
}
#b2{
    margin-top: -20px;
}
.loc{
    margin-top: 30px;
    display: flex;
    justify-content: left;
    p{
        margin-left: 10px
    }
    img{
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
}

.social{
    justify-content: left;
    margin-top: 13px;
    img{
        width: 30px;
        margin-right: 10px;
    }
}

.icon{
    width: 50px;
}
.icon-s{
    width: 30px;
}

#cards-resp{
    display: none;
}
#thx{
    text-align: center;
}

//Backgrounds

#second,#third,#fifth,#first,#center-1,#metaverso{
    background-repeat: no-repeat;
}

#metaverso{
    background-image: url("../assets/Recursos/Caira_espacio.jpg");
    background-size: cover;
    color: $cairaWhite;
    height: 700px;
}
#center-1{
    background-image: url("../assets/Recursos/fondo2.png");
    background-position: left 90% top -10px;
    background-size: 25%;
}
#first{
    background-image: url("../assets/Recursos/video.gif");
    background-size: 100%;
}

#second{
    background-image: url("../assets/Recursos/fondo3.png");
    background-size: 30%;
    background-position: left 100% top -260px;
}
#third{
    background-image: url("../assets/Recursos/fondo1.png");
    background-position: left 5% top 230px;
    background-size: 40%;
}
#fifth{
    background-image: url("../assets/Recursos/fondo2.png");
    background-size: 30%;
    background-position: left 90% top 250px;
}

//ojo password
#togglePassword {
    margin-top: -35px;
    p{
        margin-top: 15px;
        margin-left: 5px;
    } 
}


//Elementos únicos de la pagina de centros

#center-1{
    display: flex;
    article{
        width: 600px;
        height: 300px;
        margin-right: 120px;
    }
}
#book{
    padding: 60px;
    width: 500px;
    align-items: center;
    h3{
        text-align: center;
        margin-top: 0;
    }
    #calendy{
        background-color: $cairaPink;
        border-radius: 40px;
        width: 300px;
        img {
            margin-right: 10px;
        }
    }
    background-color: white;
    border-radius: 80px;
    box-shadow: $shadow;
}




